<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group contract_name">
      <label for="contract_name">계약서명</label>
      <input type="text" class="form-control" name="contract_name" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_contents">계약서내용</label>
      <input type="text" class="form-control" name="contract_contents" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_companyA">소속회사(갑)</label>
      <input type="text" class="form-control" name="contract_companyA" required ngModel>

      <label for="contract_companyB">소속회사(을)</label>
      <input type="text" class="form-control" name="contract_companyB" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_date">계약일</label>
      <input type="text" class="form-control" name="contract_date" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_period">계약 기간</label>
      <input type="text" class="form-control" name="contract_period" required ngModel>
    </div>

    <div class="form-group">
      <input class="file" type='file' (change)="onFileChange($event)" name="contract_file" required ngModel />
    </div>


    <button [disabled]="!f.valid" type="submit" class="btn btn-success">확인</button>
  </form>
</div>

<!-- <div>
  <form class="upload" (ngSubmit)="onFileSubmit(fileInput.files)">
    <input type='file' (change)="onFileChange(fileInput.files)" #fileInput />
    <button type='submit'> 업로드 </button>
  </form>
</div> -->