<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="container fileUploadWrapper">
        <form [formGroup]="form">
            <div class="row">
                <!-- Progress Bar -->
                <div class="col-md-12" *ngIf="progress">
                    <div class="progress form-group">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [style.width.%]="progress">
                        </div>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="fileupload" appDragDropFileUpload (click)="fileField.click()"
                        (fileDropped)="upload($event)">
                        <span class="ddinfo">Choose a file or drag here</span>
                        <input type="file" name="avatars" #fileField (change)="upload($event.target.files)" hidden multiple>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="image-list" *ngFor="let file of fileArr; let i = index">
                        <div class="profile">
                            <img [src]="sanitize(file['url'])" alt="">
                        </div>
                        <p>{{file.item.name}}</p>
                    </div>
                    <p class="message">{{msg}}</p>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group contract_name">
      <label for="contract_name">계약서명</label>
      <input type="text" class="form-control" name="contract_name" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_contents">계약서내용</label>
      <input type="text" class="form-control" name="contract_contents" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_companyA">소속회사(갑)</label>
      <input type="text" class="form-control" name="contract_companyA" required ngModel>

      <label for="contract_companyB">소속회사(을)</label>
      <input type="text" class="form-control" name="contract_companyB" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_date">계약일</label>
      <input type="text" class="form-control" name="contract_date" required ngModel>
    </div>
    <div class="form-group">
      <label for="contract_period">계약 기간</label>
      <input type="text" class="form-control" name="contract_period" required ngModel>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-success">확인</button>
  </form>
</div>
